<h4>This is a demonstration application</h4>
<h5>Building a multipurpose platform, this is NOT a real store.</h5>
<h5>Credit Card payment system is real and live, but in test mode (using stripe.com)</h5>
<img src="https://dl.dropbox.com/s/jppzumls7m5c68g/3_medium.jpg" alt="the canvas" class="img-thumbnail"/>