<div class="footer">
	<div class="well well-lg">			
		<a href="https://www.linkedin.com/in/chadduffey">
			<%= image_tag "https://dl.dropboxusercontent.com/s/a09exq2a8uetxkk/linkedin.png" %>
		</a>
		<a href="http://blogs.technet.com/chadduffey">
			<%= image_tag "https://dl.dropboxusercontent.com/s/tcn5h1gyil6dxvb/microsoft.png" %>
		</a>
	</div>
</div>
