<div class="footer">
	<div class="well well-lg">
		<a href="https://github.com/chadduffey">
			<%= image_tag "github.png" %>
		</a>			
		<a href="https://www.linkedin.com/in/chadduffey">
			<%= image_tag "linkedin.png" %>
		</a>
		<a href="http://blogs.technet.com/chadduffey">
			<%= image_tag "microsoft.png" %>
		</a>
	</div>
</div>
