<div class="footer">
	<br>
	<br>
	<div class="well well-sm">			
			<a href="http://chadduffey.com">
				<%= image_tag "https://dl.dropboxusercontent.com/s/tcn5h1gyil6dxvb/microsoft.png" %>
			</a>
	</div>
</div>
